---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import publications from '../content/research/publications.json';
import media from '../content/media/media.json';

const numPreviewItems = 3;
---

<BaseLayout
  description={siteConfig.description}
  image={siteConfig.image}
  showHeader={false}
>
  <Hero />
  {
    publications?.length > 0 && (
      <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-4xl">
          Research
        </h2>
        {publications.slice(0, numPreviewItems).map((publication) => (
          <ProjectPreview
            class="mb-10 sm:mb-12"
            headingLevel="h3"
            publication={publication}
          />
        ))}
        <div class="mt-12 sm:mt-16">
          <Button href="/research">View all research</Button>
        </div>
      </div>
    )
  }
  {
    media?.length > 0 && (
      <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-4xl">
          Media
        </h2>
        {media.slice(0, numPreviewItems).map((apperance) => (
          <ProjectPreview
            class="mb-10 sm:mb-12"
            headingLevel="h3"
            publication={apperance}
          />
        ))}
        <div class="mt-12 sm:mt-16">
          <Button href="/media">View all media</Button>
        </div>
      </div>
    )
  }
</BaseLayout>
