---
import { marked } from 'marked';
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
  (hero?.title ||
    hero?.image?.src ||
    hero?.text ||
    (hero?.actions && hero.actions.length > 0)) && (
    <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
      <div class="flex items-center justify-between py-20">
        <div class="flex-1 pr-10">
          {hero.title && (
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">
              {hero.title}
            </h1>
          )}
          <p class="text-lg mb-8">{hero.subtitle}</p>
        </div>
        {hero.image?.src && (
          <div class="flex-1">
            <figure>
              <img
                alt={hero.image.alt || ''}
                class="w-full"
                decoding="async"
                loading="lazy"
                src={hero.image.src}
              />
              {hero.image.caption && (
                <figcaption class="mt-1.5 text-xs sm:text-sm">
                  {hero.image.caption}
                </figcaption>
              )}
            </figure>
          </div>
        )}
      </div>
      {hero.text && (
        <div
          class="max-w-none prose prose-dante sm:prose-lg"
          set:html={marked.parse(hero.text)}
        />
      )}
      {hero.actions && hero.actions.length > 0 && (
        <div class="flex flex-wrap gap-4">
          {hero.actions.map((action) => (
            <Button href={action.href}>{action.text}</Button>
          ))}
        </div>
      )}
    </section>
  )
}
